<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.infoyb.supplier.system.dao.ByDocRecordDao">
  <resultMap id="BaseResultMap" type="com.infoyb.supplier.system.model.ByDocRecord">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="BY_DOC_ID" jdbcType="BIGINT" property="byDocId" />
    <result column="DOC_NAME" jdbcType="VARCHAR" property="docName" />
    <result column="DOC_URL" jdbcType="VARCHAR" property="docUrl" />
    <result column="BASE_ID" jdbcType="BIGINT" property="baseId" />
    <result column="IS_DELETE" jdbcType="INTEGER" property="isDelete" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="CREATE_USER_ID" jdbcType="BIGINT" property="createUserId" />
    <result column="COMPANY_TYPE" jdbcType="INTEGER" property="companyType" />
    <result column="RECORD_TIME" jdbcType="TIMESTAMP" property="recordTime" />
    <result column="RECORD_VERSION" jdbcType="INTEGER" property="recordVersion" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, BY_DOC_ID, DOC_NAME, DOC_URL, BASE_ID, IS_DELETE, CREATE_TIME, CREATE_USER_ID,
    COMPANY_TYPE, RECORD_TIME, RECORD_VERSION
  </sql>

  <insert id="insertByDocRecordList" parameterType="list" useGeneratedKeys="false">
    INSERT INTO BY_DOC_RECORD (
    ID,
    BY_DOC_ID,
    DOC_URL,
    DOC_NAME,
    BASE_ID,
    IS_DELETE,
    CREATE_TIME,
    CREATE_USER_ID,
    COMPANY_TYPE,
    RECORD_TIME,
    RECORD_VERSION
    ) SELECT
    BY_DOC_RECORD_SEQ.NEXTVAL,
    T.BY_DOC_ID,
    T.DOC_URL,
    T.DOC_NAME,
    T.BASE_ID,
    T.IS_DELETE,
    T.CREATE_TIME,
    T.CREATE_USER_ID,
    T.COMPANY_TYPE,
    T.RECORD_TIME,
    T.RECORD_VERSION
    FROM (
    <foreach collection="list" item="item" open="(" close=")" separator="union all" index="index">
      SELECT
      #{item.byDocId, jdbcType =BIGINT} as BY_DOC_ID,
      #{item.docUrl, jdbcType =VARCHAR} as DOC_URL,
      #{item.docName, jdbcType =VARCHAR} as DOC_NAME,
      #{item.baseId, jdbcType =BIGINT} as BASE_ID,
      #{item.isDelete, jdbcType =INTEGER} as IS_DELETE,
      #{item.createTime, jdbcType =TIMESTAMP} as CREATE_TIME,
      #{item.createUserId, jdbcType =BIGINT} as CREATE_USER_ID,
      #{item.companyType, jdbcType =INTEGER} as COMPANY_TYPE,
      #{item.recordTime, jdbcType =TIMESTAMP} as RECORD_TIME,
      #{item.recordVersion, jdbcType =INTEGER} AS RECORD_VERSION
      from dual
    </foreach>
    ) T
  </insert>

  <select id="selectDocVersionNumber" parameterType="com.infoyb.supplier.system.model.ByDoc" resultType="Integer">
    SELECT MAX (RECORD_VERSION) FROM BY_DOC_RECORD
    WHERE BY_DOC_ID =#{id, jdbcType=BIGINT} AND BASE_ID =#{baseId, jdbcType=BIGINT}
  </select>
</mapper>