@charset "utf-8";
body, div, ul, ol, dl, dt, dd, li, h1, h2, h3, h4, form, input{margin:0;padding:0;font-style: normal;font:12px/22px Microsoft Yahei, Arial, tahoma, Helvetica, sans-serif}
ol, ul, li{list-style:none}
img{border:0}
body{color:#333333;background:#F5F5F5 url(bg.gif) repeat-x 0 0;text-align:center}
*:focus{outline:none}
.a, .b{margin:0 auto;overflow:hidden}
.b{width:100%}
a:hover{color:#246ED9;text-decoration:underline}

#n{margin:10px auto; width:920px; border:1px solid #CCC;font-size:12px; line-height:30px;}
#n a{ padding:0 4px; color:#333}

