@charset "utf-8";
body {
	background: url("http://39.106.140.225/img/login-background.jpg") no-repeat center fixed;
	background-size: cover;
}
.siteIcon {
	max-width: 330px;
	text-align: center;
}
.erweiMa{
	position: absolute;
	top: 42%;
	right: 65%;
}
.erweiMa img{
	width:90%;
}
.container{
	margin-left: 40%;
	margin-top: 10%;
}
.siteIcon img {
	cursor: pointer;
	width: 130px;
	height: 80px;
	border-radius: 5%;
}
.siteIcon img:hover {
	-moz-transition: all 0.8s ease-in-out;
	-webkit-transition: all 0.8s ease-in-out;
	-o-transition: all 0.8s ease-in-out;
	-ms-transition: all 0.8s ease-in-out;
	transition: all 0.8s ease-in-out;
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	transform: rotate(360deg);
}
.siteIcon img:active {
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
	-webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
	transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}
.form-signin {
	max-width: 380px;
	padding: 15px;
	margin: 0 auto;
	background: rgba(0,0,0,.01);
	-moz-box-shadow: 0px 1px 5px rgba(0,0,0,.1);
	-webkit-box-shadow: 0px 1px 5px rgba(0,0,0,.1);
	box-shadow: 0px 1px 5px rgba(0,0,0,.1);
}
.form-signin-heading{
	text-align: center;
	padding-bottom: 20px;
	padding-top: 5px;
}
.form-signin .checkbox {
	font-weight: normal;
}
.form-signin .form-control {
	background: rgba(255,255,255,0.5);
	position: relative;
	height: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 15px;
	font-size: 16px;
}
.form-signin .form-control:focus {
	z-index: 2;
}
#userName {
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
#userPwd {
	margin-bottom: 17px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
.left{
	float: left;
	margin-left: 8%;
	font-size: 18px;
}
.left:hover{
	color: white;
}
.right{
	float: right;
	margin-right: 8%;
	font-size: 18px;
}
.right:hover{
	color: white;
}
.footer {
	float: right;
	margin-right: 10%;
	margin-top: 13%;
	font-size: 17px;
}
.btn-primary.disabled, .btn-primary.disabled:hover {
	background-color: #3399CC;
	border-color: #2890C4;
}